.form_container{
    border-color: black;
    border-width: 2px;
    border-style: dotted;
    padding: 0.7rem;
    display: grid;
    place-items: center;
    border-radius: 16px;
}
.progress{
    width: 100%;
    margin-bottom: 0.5rem;
}